workflows/06-razorpay-payment.json
{
  "name": "06 — Deal Approved → Razorpay Payment Link",
  "nodes": [
    {
      "parameters": {"httpMethod": "POST", "path": "approve-deal"},
      "id": "webhook-approve",
      "name": "Webhook — Deal Approved (Manual Trigger)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $json.body.deal_id }}?properties=dealname,amount,service_offered",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "hubspot-get-deal",
      "name": "HubSpot — Get Deal Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "credentials": {"httpHeaderAuth": {"id": "{{HUBSPOT_CREDENTIAL_ID}}", "name": "hubspot-private-app"}}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.razorpay.com/v1/payment_links",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"amount\": {{ ($json.properties?.amount || 1000) * 100 }},\n  \"currency\": \"INR\",\n  \"accept_partial\": false,\n  \"description\": \"Payment for {{ $json.properties?.service_offered || 'Services' }} — {{ $json.properties?.dealname }}\",\n  \"customer\": {\n    \"name\": \"{{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_name }}\",\n    \"email\": \"{{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_email }}\",\n    \"contact\": \"{{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_phone || '' }}\"\n  },\n  \"notify\": {\"sms\": true, \"email\": true},\n  \"reminder_enable\": true,\n  \"expire_by\": {{ Math.floor(Date.now()/1000) + 7*24*60*60 }},\n  \"notes\": {\n    \"deal_id\": \"{{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.deal_id }}\",\n    \"source\": \"ai-sales-automation\"\n  }\n}"
      },
      "id": "razorpay-create-link",
      "name": "Razorpay — Create Payment Link",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "credentials": {"httpBasicAuth": {"id": "{{RAZORPAY_CREDENTIAL_ID}}", "name": "razorpay-api"}}
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/deals/{{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.deal_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"properties\":{\"dealstage\":\"Payment Link Sent\",\"payment_link_url\":\"{{ $('Razorpay — Create Payment Link').item.json.short_url }}\",\"payment_status\":\"link_sent\"}}"
      },
      "id": "hubspot-update-deal",
      "name": "HubSpot — Update Deal Stage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "credentials": {"httpHeaderAuth": {"id": "{{HUBSPOT_CREDENTIAL_ID}}", "name": "hubspot-private-app"}}
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_email }}",
        "subject": "=Payment Link — {{ $('HubSpot — Get Deal Details').item.json.properties.service_offered || 'Services' }}",
        "message": "=Hi {{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_name }},\n\nThank you for choosing to work with us! Here is your payment link:\n\n{{ $('Razorpay — Create Payment Link').item.json.short_url }}\n\nAmount: ₹{{ ($('HubSpot — Get Deal Details').item.json.properties.amount || 1000) }}\nService: {{ $('HubSpot — Get Deal Details').item.json.properties.service_offered || 'Services' }}\n\nThis link is valid for 7 days. If you have any questions, just reply to this email.\n\nBest regards,\n{{YOUR_NAME}}"
      },
      "id": "gmail-send-link",
      "name": "Gmail — Send Payment Link",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 0],
      "credentials": {"gmailOAuth2": {"id": "{{GOOGLE_CREDENTIAL_ID}}", "name": "google-oauth"}}
    },
    {
      "parameters": {
        "sendTo": "={{$env.OWNER_EMAIL}}",
        "subject": "=💰 Payment Link Sent: {{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_name }}",
        "message": "=Payment link sent to {{ $('Webhook — Deal Approved (Manual Trigger)').item.json.body.client_email }}\n\nAmount: ₹{{ $('HubSpot — Get Deal Details').item.json.properties.amount || 1000 }}\nLink: {{ $('Razorpay — Create Payment Link').item.json.short_url }}\nExpires: 7 days"
      },
      "id": "notify",
      "name": "Notify — Payment Link Sent",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1100, 0],
      "credentials": {"gmailOAuth2": {"id": "{{GOOGLE_CREDENTIAL_ID}}", "name": "google-oauth"}}
    }
  ],
  "connections": {
    "Webhook — Deal Approved (Manual Trigger)": {"main": [[{"node": "HubSpot — Get Deal Details", "type": "main", "index": 0}]]},
    "HubSpot — Get Deal Details": {"main": [[{"node": "Razorpay — Create Payment Link", "type": "main", "index": 0}]]},
    "Razorpay — Create Payment Link": {"main": [[{"node": "HubSpot — Update Deal Stage", "type": "main", "index": 0}]]},
    "HubSpot — Update Deal Stage": {"main": [[{"node": "Gmail — Send Payment Link", "type": "main", "index": 0}]]},
    "Gmail — Send Payment Link": {"main": [[{"node": "Notify — Payment Link Sent", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "saveExecutionProgress": true},
  "tags": [{"name": "sales-automation"}, {"name": "payments"}]
}
